<template>
  <div></div>
</template>

<script>
export default {
  name: "childComp",
  methods: {
    sendMessageToParent() {
      this.$emit(
        "messageFromChild",
        "This message is from child component with $emit"
      );
    },
  },

  mounted() {
    this.sendMessageToParent();
  },
};
</script>
