<template>
  <div>
    <childComp1 @messageFromChild="childMessageRecieved" />
    <p>{{ childMsg }}</p>
  </div>
</template>

<script>
import childComp1 from "./childComp1.vue";

export default {
  name: "parentComp",
  components: {
    childComp1,
  },
  data() {
    return {
      childMsg: null,
    };
  },
  methods: {
    childMessageRecieved(msg) {
      this.childMsg = msg;
    },
  },
};
</script>
