<template>
  <div>
    {{ secondChildData }}
  </div>
</template>

<script>
export default {
  name: "FirstChild",

  components: {},

  data() {
    return {
      secondChildData: null,
    };
  },

  methods: {
    // sendMessageToSecondChild() {
    //   this.$root.$emit(
    //     "messageFromChildOne",
    //     "This message is from child one to child two"
    //   );
    // },
  },

  mounted() {
    // this.sendMessageToSecondChild()
    this.$root.$on("messageFromChildTwo", (msg) => {
      this.secondChildData = msg;
    });
  },
};
</script>
