<template>
  <div>
    {{ firstChildData }}
  </div>
</template>

<script>
export default {
  name: "SecondChild",

  components: {},

  data() {
    return {
      firstChildData: null,
    };
  },

  methods: {
    sendMessageToFirstChild() {
      this.$root.$emit(
        "messageFromChildTwo",
        "This message is from child two to child one"
      );
    },
  },

  mounted() {
    this.sendMessageToFirstChild();
    // this.$root.$on("messageFromChildOne", (msg) => {
    //   console.log(msg);
    // });
  },
};
</script>
