<template>
  <div>
    <formValidation />
  </div>
</template>

<script>
import formValidation from "../components/formValidation.vue";

export default {
  components: {
    formValidation,
  },
  data() {
    return {};
  },
};
</script>
