<template>
  <div>
    <div class="row">
      <div class="col-4">
        <parentToChild />
      </div>
      <div class="col-4">
        <childToParent />
      </div>
      <div class="col-4">
        <childToChild />
      </div>
    </div>
  </div>
</template>

<script>
import parentToChild from "@/components/parentToChild.vue";
import childToParent from "@/components/childToParent.vue";
import childToChild from "@/components/childToChild.vue";

export default {
  components: {
    parentToChild,
    childToParent,
    childToChild,
  },
};
</script>
