<template>
  <div>
    <h4>Child to Child</h4>
    <childOne />
    <childTwo class="mb-5" />
  </div>
</template>

<script>
import childOne from "@/components/CTC/childComp1.vue";
import childTwo from "@/components/CTC/childComp2.vue";
export default {
  components: {
    childOne,
    childTwo,
  },
};
</script>
