<template>
  <div>
    <h4>Child to Parent</h4>
    <parentComp1 />
  </div>
</template>

<script>
import parentComp1 from "@/components/CTP/parentComp1";
export default {
  components: {
    parentComp1,
  },
};
</script>
