<template>
  <div class="row">
    <div class="col-6">
      <div class="card">
        <div class="card-body">
          <b-form @submit.stop.prevent="onSubmit">
            <b-form-group
              id="example-input-group-1"
              label="Token"
              label-for="example-input-1"
            >
              <b-form-input
                id="example-input-1"
                name="example-input-1"
                v-model="$v.form.token.$model"
                :state="validateState('token')"
                aria-describedby="input-1-live-feedback"
              ></b-form-input>

              <b-form-invalid-feedback id="input-1-live-feedback"
                >Token is required</b-form-invalid-feedback
              >
            </b-form-group>

            <b-form-group
              id="example-input-group-1"
              label="Type"
              label-for="example-input-1"
            >
              <b-form-input
                id="example-input-1"
                name="example-input-1"
                v-model="$v.form.type.$model"
                :state="validateState('type')"
                aria-describedby="input-1-live-feedback"
              ></b-form-input>

              <b-form-invalid-feedback id="input-1-live-feedback"
                >Type is required</b-form-invalid-feedback
              >
            </b-form-group>

            <h4>Props</h4>

            <b-form-group
              id="example-input-group-1"
              label="Title"
              label-for="example-input-1"
            >
              <b-form-input
                id="example-input-1"
                name="example-input-1"
                v-model="$v.form.title.$model"
                :state="validateState('title')"
                aria-describedby="input-1-live-feedback"
              ></b-form-input>

              <b-form-invalid-feedback id="input-1-live-feedback"
                >Title is required</b-form-invalid-feedback
              >
            </b-form-group>

            <b-form-group
              id="example-input-group-1"
              label="Required"
              label-for="example-input-1"
            >
              <b-form-input
                id="example-input-1"
                name="example-input-1"
                v-model="$v.form.required.$model"
                :state="validateState('required')"
                aria-describedby="input-1-live-feedback"
              ></b-form-input>

              <b-form-invalid-feedback id="input-1-live-feedback"
                >Required is required</b-form-invalid-feedback
              >
            </b-form-group>

            <b-form-group
              id="example-input-group-1"
              label="Placeholder"
              label-for="example-input-1"
            >
              <b-form-input
                id="example-input-1"
                name="example-input-1"
                v-model="$v.form.placeholder.$model"
                :state="validateState('placeholder')"
                aria-describedby="input-1-live-feedback"
              ></b-form-input>

              <b-form-invalid-feedback id="input-1-live-feedback"
                >Placeholder is required</b-form-invalid-feedback
              >
            </b-form-group>

            <b-button type="submit" variant="primary">Submit</b-button>
            <b-button class="ml-2" @click="resetForm()">Reset</b-button>
          </b-form>
        </div>
      </div>
    </div>

    <div class="col-6">
      <div class="card">
        <div class="card-body">
          <h4 class="mb-5">Blocks</h4>

          <div v-for="item of block" :key="item.token">
            {{ item }}
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<style>
body {
  padding: 1rem;
}
</style>

<script>
import { validationMixin } from "vuelidate";
import { required } from "vuelidate/lib/validators";

export default {
  mixins: [validationMixin],
  data() {
    return {
      block: [],
      form: {
        token: null,
        type: null,
        title: null,
        required: null,
        placeholder: null,
      },
    };
  },
  validations: {
    form: {
      token: {
        required,
      },
      type: {
        required,
      },
      title: {
        required,
      },
      required: {
        required,
      },
      placeholder: {
        required,
      },
    },
  },
  methods: {
    validateState(token) {
      const { $dirty, $error } = this.$v.form[token];
      return $dirty ? !$error : null;
    },
    resetForm() {
      this.form = {
        token: null,
        type: null,
        title: null,
        required: null,
        placeholder: null,
      };

      this.$nextTick(() => {
        this.$v.$reset();
      });
    },
    onSubmit() {
      this.$v.form.$touch();
      if (this.$v.form.$anyError) {
        return;
      }

      const pushToBlock = {
        token: this.form.token,
        type: this.form.type,
        props: {
          title: this.form.title,
          required: this.form.required,
          placeholder: this.form.placeholder,
        },
      };

      this.block.push(pushToBlock);
      this.resetForm();
    },
  },
};
</script>
