<template>
  <div>
    <h4>Parent to child</h4>
    <parentComp />
  </div>
</template>

<script>
import parentComp from "@/components/PTC/parentComp.vue";

export default {
  components: {
    parentComp,
  },
};
</script>
