<template>
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Data Table</h4>

          <div id="tickets-table_filter" class="dataTables_filter text-md-end">
            <label class="d-inline-flex align-items-center">
              Search:
              <b-form-input
                v-model="filter"
                type="search"
                placeholder="Search..."
                class="form-control form-control-sm ms-2"
              ></b-form-input>
            </label>
          </div>

          <!-- Table -->
          <div class="table-responsive mb-0">
            <b-table
              class="datatables"
              :items="tableData"
              :fields="fields"
              responsive="sm"
              :per-page="perPage"
              :current-page="currentPage"
              :sort-by.sync="sortBy"
              :sort-desc.sync="sortDesc"
              :filter="filter"
              :filter-included-fields="filterOn"
              @filtered="onFiltered"
            >
              <template #cell(address)="row">
                {{ row.item.address.street }}, {{ row.item.address.suite }},
                {{ row.item.address.city }}, {{ row.item.address.zipcode }}
              </template>

              <template #cell(company)="row">
                {{ row.item.company.name }}
              </template>
            </b-table>
          </div>
          <div class="row">
            <div class="col">
              <div class="dataTables_paginate paging_simple_numbers float-end">
                <ul class="pagination pagination-rounded mb-0">
                  <!-- pagination -->
                  <b-pagination
                    v-model="currentPage"
                    :total-rows="rows"
                    :per-page="perPage"
                  ></b-pagination>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { userUserStore } from "../store";

/**
 * Advanced table component
 */
export default {
  data() {
    return {
      tableData: [],
      totalRows: 1,
      todoTotalRows: 1,
      currentPage: 1,
      perPage: 5,
      pageOptions: [10, 25, 50, 100],
      filter: null,
      filterOn: [],
      sortBy: "age",
      sortDesc: false,
      fields: [
        {
          label: "Id",
          key: "id",
          sortable: true,
        },
        {
          label: "Full Name",
          key: "name",
          sortable: true,
        },
        {
          label: "Username",
          key: "username",
          sortable: true,
        },
        {
          label: "Email",
          key: "email",
          sortable: true,
        },
        {
          label: "Phone",
          key: "phone",
          sortable: true,
        },
        {
          label: "Street",
          key: "address",
          sortable: true,
        },
        {
          label: "Company",
          key: "company",
          sortable: true,
        },
      ],
    };
  },
  computed: {
    rows() {
      return this.tableData.length;
    },
  },

  async mounted() {
    const store = userUserStore();
    await store.getAllUsers();
    const result = store.usersData;

    this.tableData = result;

    this.totalRows = this.tableData.length;
  },

  methods: {
    onFiltered(filteredItems) {
      this.totalRows = filteredItems.length;
      this.currentPage = 1;
    },

    handleInput(value, data) {
      this.editableDataItems[data.index][data.field.key] = value;
    },
  },
};
</script>
