<template>
  <div>
    <childComp :message="msg" />
  </div>
</template>

<script>
import childComp from "./childComp.vue";

export default {
  name: "parentComp",

  components: {
    childComp,
  },

  data() {
    return {
      msg: "This is parent to child communication using props",
    };
  },
};
</script>
