<template>
  <div id="app">
    <nav>
      <router-link to="/">Question 1</router-link> |
      <router-link to="/que-two">Question 2</router-link> |
      <router-link to="/que-three">Question 3</router-link>
    </nav>
    <router-view />
  </div>
</template>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  padding: 50px;
}

nav {
  padding: 30px;
  text-align: center;
  font-size: x-large;
}

nav a {
  font-weight: bold;
  color: #2c3e50;
  text-align: center;
}

nav a.router-link-exact-active {
  color: #42b983;
  text-align: center;
}
</style>
